.calculator-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.image-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 20px;
}

.pill-image {
  max-width: 100%;
  height: auto;
  margin-bottom: 10px;
}

.pill-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px; /* Add some space between each pill-info block */
}

.pill-image-small {
  width: 50px; /* Adjust the width to make the image half its original size */
  height: auto; /* Maintain the aspect ratio */
  margin-right: 10px; /* Add some space between the image and the text */
}